services:
  ntfy:
    image: binwiederhier/ntfy:${SERVICE_VERSION}
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    user: ${USER_ID}:${GROUP_ID}
    security_opt:
      - no-new-privileges:true
    read_only: true
    cap_drop:
      - ALL
    # command to execute when the container start
    command: serve

    environment:
      NTFY_BASE_URL: https://${TRAEFIK_HOST}
      NTFY_LISTEN_HTTP: :${TRAEFIK_PORT}
      TZ: ${TZ}

    volumes:
      - .docker/data:/var/lib/ntfy # auth + cache + attachement
      - .docker/config.yaml:/etc/ntfy/server.yml:ro

    networks:
      - service-net
      - traefik-net

    healthcheck: # optional: remember to adapt the host:port to your environment
      test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:${TRAEFIK_PORT}/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
      interval: 5m
      timeout: 10s
      retries: 3
      start_period: 40s
    init: true # prevents zombie processes from healthcheck

    # limit resources
    cpus: 0.25
    mem_limit: 64m
    pids_limit: 20

    # logging
    logging:
      driver: json-file
      options:
        max-size: 2m
        max-file: 3

    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=${TRAEFIK_NET}" # declare or force network for traefik docker provider
      - "traefik.http.routers.${CONTAINER_NAME}-https.rule=Host(`${TRAEFIK_HOST}`)"
      - "traefik.http.routers.${CONTAINER_NAME}-https.entrypoints=websecure"
      - "traefik.http.services.${CONTAINER_NAME}.loadbalancer.server.port=${TRAEFIK_PORT}"

networks:
  service-net:
    internal: true # just talk with internal services, no internet access
    name: ${SERVICE_NET}
  traefik-net:
    external: true
    name: ${TRAEFIK_NET}
